/*flexbox*/
body {
	font-family: 'Cormorant SC', serif;
	background-color: #09090E;
	color: #4D4D4E;
}

strong {
	font-size: 20px;
}

html, body, .side {
    height: 100%;
}


.side {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/*end flexbox*/

#intro {
	position: relative;
}

#scrollBtn {
	position: absolute;
	top: 60%;
	font-size: 40px;
}

#content {
	margin-top: 20px;
}

.side {
	height: 500px;
}

#idunno {
	background-color: #112332;
}

#guessing {
	background-color: 	#ABB2B8;
	font-size: 18px;
	font-style: bolder;
}

#gamemaster {
	font-size: 40px;
	margin: 20px;
	border: none;
}

#gamemaster:hover {
	background-color: #539EF0;
}